@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Antonio; Bebas Neue; Montserrat*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Montserrat';
}
body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: rgb(233, 235, 254);
}