header {
    height: 60px;
    width: 100%;
    display: flex;
    position: relative;
}
header.menu-open{
    transition: .7s;
    background-color: var(--azul-escuro01);
}
.espaco-logo {
    width: min-content;
    padding: .2rem .3rem;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    
    background-color: var(--azul-escuro01);
}
.espaco-logo.visible {
    z-index: 0;
}

h1#nome-comercial {
    color: var(--branco);
    font-weight: 500;
    font-size: 1rem;
    & > span {
        color: var(--branco);
    }
}
h1#nome-comercial::selection{
    color: rgb(0, 255, 255);
}
h1#nome-comercial span::selection {
    color: rgb(0, 153, 255);
}
nav#menu-desktop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    display: none;
}
nav#menu-desktop ul {
    list-style-type: none;
    display: flex;
    background-color: var(--azul-escuro01);
    border-radius: 8px;
}
nav#menu-desktop ul li {
    padding: .5rem 1rem;
    border: 1px solid transparent;
    color: var(--branco);
    border-radius: 8px;
}
nav#menu-desktop ul li:hover {
    transition: .7s;
    background-color: var(--cor-primaria);
}
#menu-mobile {
    height: 38px;
    width: 40px;
    margin: 10px 10px 0;
    z-index: 2;
    background-color: var(--azul-escuro01);
    border: 1px solid transparent;
    border-radius: 8px;
}
#menu-hamburguer-icon.visible {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
#menu-hamburguer-icon {
    display: none;
}
.menu-hamburguer-linha {
    height: 4px;
    width: 60%;
    background-color: var(--branco);
}

#menu-x-icon {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#menu-x-icon.visible {
    display: flex;
}
.menu-x-linha {
    height: 4px;
    width: 60%;
    position: relative;
    background-color: var(--branco);
}
#menu-x-linha1 {
    top: 3px;
    transform: rotate(50deg);
}
#menu-x-linha2 {
    top: -1px;
    transform: rotate(-50deg);
}
#menu-mobile-container {
    height: 100%;
    width: 100%;
    z-index: 1;

    transition: .7s;
    transform: translateY(-100%);
}
#menu-mobile-container.visible {
    transition: .7s;
    transform: translateY(0);
}
#menu-mobile-container ul{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#menu-mobile-container ul li {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    list-style-type: none;
    color: white;
}