body {
    max-width: 100vw;
    overflow-x: hidden;
}
header.menu-open {
    background-color: transparent;
}
#menu-mobile-container {
    height: auto;
    min-height: 10%;
    position: absolute;
    top: 10px;
    width: 0px;
    right: 0;
    left: auto;
    opacity: 0;
    transform: translateY(0);
    transform: translateX(100%);
    & * {
        display: none;
    }
}
#menu-mobile-container.visible {
    opacity: 1;
    padding: 1rem 0;
    transform: translateX(0%);
    transition: .7s;
    width: 60%;
    & * {
        display: flex;
        transition: .7s;
    }
}
#menu-mobile-container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
#menu-mobile-container ul a {
    width: 80%;
    padding: 5px;
    outline: none;
    &:hover, &:focus {
        background-color: blue;
        box-shadow: 0 0 10px blue;
    }
}