#modalidades-container {
    max-width: min(1000px, 90%);
    height: 50vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    text-align: center;
}
#selecionar-esporte-container, form {
    display: flex;
    gap: 8px;
    justify-content: end;
}
#selecionar-esporte-container .esporte-label-input {
    padding: 2px 4px;
    display: flex;
    gap: 8px;
    align-items: center;
}
#selecionar-esporte-container #esporte02-container, #selecionar-esporte-container #esporte04-container {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #3332;
}

/* Esconde o checkbox original */
input[type="checkbox"]{
    display: none;
}
/* Estiliza o label como uma caixa */
label {
    height: 15px;
    width: 15px;
    min-width: 15px;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: white;
}
/* Cria o "check" dentro do label quando o checkbox está marcado */
input[type="checkbox"]:checked + label {
    background-color: darkblue;
    background: radial-gradient( circle at top left, white, 5px, darkblue);
    color: white;
}

/* Estilos da tabela */
table {
    width: 100%;
    margin: 1rem 0;
    background-color: aliceblue;
    table-layout: fixed;
    border-spacing: 0 10px;
    border: 1px solid black;
}
table caption {
    padding: .5rem 0;
}
table tr {
    align-items: center;
    justify-content: center;
}
td {
    padding: 0 .1rem;
    border-right: 1px solid black;
}
td:last-child {
    border-right: 0;
}
#container-acoes-time {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.botao-estilo01 {
    min-height: 30px;
    min-width: 60px;
    max-width: 200px;
    width: 90%;
    padding: .25rem;
    
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;

    border: 2px solid darkblue;
    border-radius: 8px;
    
    color: white;
    background-color: darkblue;
    
    cursor: pointer;
    font-weight: 600;
    font-size: .8rem;
}
.botao-estilo01:hover {
    transition: .7s;
    background-color: blue;
    border-color: blue;
    box-shadow: 0 0 10px darkblue;
}
button#botao-novo-time {
    align-self: center;
}
button#botao-excluir-time {
    background-color: rgb(221, 0, 0);
    border-color: rgb(199, 0, 0);
}
button.botao-estilo01#botao-excluir-time:hover {
    background-color: rgb(250, 0, 0);
    border-color: red;
    box-shadow: 0 0 10px rgb(139, 0, 0);
}